<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Novedades</ion-card-subtitle>
      <ion-card-title>Futura Actualización</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="background-color:rgb(20, 20, 20);">
      <p class="parrafo">
        En las proximas semanas daremos a conocer la nueva version de nuestra app,
        asi que esten atentos a nuestras redes sociales y canales informativos.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Contacto</ion-card-subtitle>
      <ion-card-title>Redes Sociales</ion-card-title>
    </ion-card-header>

    <ion-card>
      <img src="assets/redessociales.jpg" class="ion-padding">
    </ion-card>
  
    <ion-card-content style="background-color:rgb(20, 20, 20);">
      <p class="parrafo">
        Tenemos un correo al cual puedes hacernos llegar tus opiniones y/o correcciones, tambien
        contamos con nuestro whatsapp y demas redes sociales.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item href="#">
        <ion-icon slot="start" name="logo-whatsapp" class="wasa"></ion-icon>
        <ion-label>+569123445678</ion-label>
      </ion-item>

      <ion-item href="#">
        <ion-icon slot="start" name="logo-twitter" class="twi"></ion-icon>
        <ion-label>@Asistenciapp</ion-label>
      </ion-item>

      <ion-item  href="#">
        <ion-icon slot="start" name="logo-instagram" class="insta"></ion-icon>
        <ion-label>Asistenci_app</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="logo-discord" class="dis"></ion-icon>
        <ion-label>Asistenciapp</ion-label>
      </ion-item>
  </ion-card>

</ion-content>
