<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Registrapp</ion-card-title>
    </ion-card-header>

    
    <ion-card>
      <img src="assets/Asistencia.png" class="ion-padding">
    </ion-card>
  
    <ion-card-content style="background-color:rgb(20, 20, 20);">
      <p class="parrafo">
        La Asistencia escolar, además de constituir una condición clave para que los estudiantes desarrollen los conocimientos, 
        habilidades y actitudes que se espera que aprendan durante la educación escolar,
        contribuye a su desarrollo socioafectivo y promueve hábitos fundamentales para la vida futura de niños, niñas y jóvenes.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
